<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="./weather-comp.component.scss">

</head>

<body>
    <img src="assets/bgimage.jpg" class="bg">
    <div class="main-container">
        <div class="title-cont">
            <div class="title-cont-header">
                <h1>Weather-App</h1>
                <h2>Jacek Zołotar & Krzysztof Berda</h2>
            </div>
        </div>
    </div>
    <div class="weather-container">
        <div class="input-container">
            <form [formGroup]="weatherinput" (ngSubmit)="onSubmit()" class="form-input">
                <div>
                    <label>
                        Location:
                        <input type="text" formControlName="location" id="location">
                    </label>
                </div>
                <div>
                    <label>
                        Date:
                        <input type="text" formControlName="date">
                    </label>
                </div>
                <div>
                    <label>
                        Time:
                        <input type="text" formControlName="time">
                    </label>
                </div>
                <div>
                    <button type="submit" class="submit">Submit</button>
                </div>
            </form>
        </div>
        <div id='maps-contaier-class' class="maps-contaier-class">
            <div id="map"></div>
            <div class="icon_weather_panel">
            <div class="weather_panel">
                <h1 style="text-decoration: none; margin-left: 30px;">Weather Panel</h1>
                <label>Temperature:</label>
                <h2 id="inner_temp"></h2>
                <label>Location:</label>
                <h2 id="inner_location"></h2>
                <label>Date:</label>
                <h2 id="inner_date"></h2>
                <label>Time:</label>
                <h2 id="inner_time"></h2>
            </div>
            <div class="icon_panel">
                <img id='icon_mod'>
                <label id="weather-label"></label>
            </div>
        </div>
        </div>
        <div class="location_label">
            <label>Choose location:</label>
        </div>
        <div class="location_clock">
            <article class="clock">
                <div class="hours-container">
                    <div class="hours"></div>
                </div>
                <div class="minutes-container">
                    <div class="minutes"></div>
                </div>
                <div class="seconds-container">
                    <div class="seconds"></div>
                </div>
            </article>
            <article class="clock">
                <div class="hours-container">
                    <div class="hours"></div>
                </div>
                <div class="minutes-container">
                    <div class="minutes"></div>
                </div>
                <div class="seconds-container">
                    <div class="seconds"></div>
                </div>
            </article>
            <article class="clock">
                <div class="hours-container">
                    <div class="hours"></div>
                </div>
                <div class="minutes-container">
                    <div class="minutes"></div>
                </div>
                <div class="seconds-container">
                    <div class="seconds"></div>
                </div>
            </article>
            <article class="clock">
                <div class="hours-container">
                    <div class="hours"></div>
                </div>
                <div class="minutes-container">
                    <div class="minutes"></div>
                </div>
                <div class="seconds-container">
                    <div class="seconds"></div>
                </div>
            </article>
            <article class="clock">
                <div class="hours-container">
                    <div class="hours"></div>
                </div>
                <div class="minutes-container">
                    <div class="minutes"></div>
                </div>
                <div class="seconds-container">
                    <div class="seconds"></div>
                </div>
            </article>
        </div>
        <div class="location_button">
            <button>Londyn</button>
            <button>Warszawa</button>
            <button>Nowy York</button>
            <button>Sydney</button>
            <button>Moskwa</button>
        </div>
    </div>
</body>

</html>